<pre style="box-sizing: border-box; font-family: Consolas, Menlo, Courier, monospace; font-size: 16px; white-space: pre-wrap; position: relative; line-height: 1.5; color: rgb(153, 153, 153); margin: 1em 0px; padding: 12px 10px; background-color: rgb(244, 245, 246); border: 1px solid rgb(232, 232, 232);"><?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
 <key>items</key>
 <array>
 <dict>
 <key>assets</key>
 <array>
 <dict>
 <key>kind</key>
 <string>software-package</string>
 <key>url</key>
 <string>http://share.chs7.com/static/download/IQEA.ipa</string>
 </dict>
 <dict>
 <key>kind</key>
 <string>full-size-image</string>
 <key>needs-shine</key>
 <true/>
 <key>url</key>
 <string>http://iqeashare.tescochain.net/static/img/iqea_logo_57.png</string>
 </dict>
 <dict>
 <key>kind</key>
 <string>display-image</string>
 <key>needs-shine</key>
 <true/>
 <key>url</key>
 <string>http://iqeashare.tescochain.net/static/img/iqea_logo_521.png</string>
 </dict>
 </array>
 <key>metadata</key>
 <dict>
 <key>bundle-identifier</key>
 <string>bundleID</string>
 <key>bundle-version</key>
 <string>2.0.0</string>
 <key>kind</key>
 <string>software</string>
 <key>subtitle</key>
 <string>App</string>
 <key>title</key>
 <string>IQEA</string>
 </dict>
 </dict>
 </array>
 </dict>

</plist>

</pre>

* * *
